body {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
}

.container {
  height: 300px;
  width: 300px;
  position: absolute;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  text-align: center;
}

button {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: none;
  text-decoration: none;
  transition: all 0.3s;
}

button:hover {
  background-color: black;
  color: white;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}

#randomColorOutput {
  padding-top: 50px;
}
